<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ambarrukmo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AmbarukmoAplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo_home"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ambarrukmo"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.DiningActivity"></activity>
        <activity android:name=".activity.PromoDetailListActivity" />
        <activity android:name=".activity.ViewAllPromotionListActivity" />
        <activity android:name=".activity.DetailVoucherActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.MenuLoginActivity" />
        <activity android:name=".activity.WalktroughActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>